@*@using CarShop.Domain.Response*@
@using CarShop.Domain.ViewModels.Place
@model List<CarShop.Domain.Entity.Place>
@{

}
@foreach (var place in Model){

	<p> @place.id</p>
	<p> @place.price</p>
}
@*<p> @Model.id</p>
<p> @Model.price</p>*@